.usersPageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 0px 80px 0px;
}

.usersWrapper {
    display: flex;
    margin-left: 40px;
    width: 700px;
    margin-bottom: 20px;
}
.usersLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 20px;
}
.usersRight {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(150, 152, 156);
    padding: 20px;
    max-height: 80px;
    border-radius: 20px;
}
.usersInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.usersName {
    display: flex;
    font-weight: 700;
    color: #464646;
}
.usersFirstName {
    padding-right: 10px;
}
.usersFollowButton button {
    width: 100px;
    background: rgb(49, 146, 49);
    color: white;
    font-size: 20px;
    border: none;
}
.usersFollowButton button:focus {
    outline: none;
}
.usersFollowButton button:active {
    outline: 1px solid black;
}
.usersLocation {
    text-align: right;
}
.usersAvatar img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.bthShowMore {
    background: rgb(49, 146, 49);
    color: white;
    font-size: 20px;
    border: none;
    width: 300px;
    height: 40px;
    align-self: center;
}
.bthShowMore:focus {
    outline: none;
}
.bthShowMore:active {
    outline: 1px solid black;
}

.switchPageButtonsRow {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.paginationItem {
    margin-right: 10px;
    cursor: pointer;
}
.paginationItem:hover {
    text-decoration: underline;
}

.paginationItemActive {
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.paginationSprad {
    margin-right: 10px;
}

.paginationPrevios {
    display: flex;
}
